@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  box-sizing: border-box;
}

body{
  background-color: #030725;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #192057;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-home {
  color: white;
  background-color: #192057;
  outline: none;
  border: 2px solid #030725;
  border-radius: 7px;
  padding: 0.75rem;
  cursor: pointer;
}

.btn-home a {
  text-decoration: none;
  color: white;
}

.btn-home:hover {
  background-color: #030725;
}

.logo {
  width: 12.5rem;
  display: flex;
  align-items: baseline;
  margin: 0rem;
}

.search {
  background-color: transparent;
  border: 2px solid #030725;
  padding: 0.5rem;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  width: 15rem;
}

.search::placeholder {
  color: #ffffff86;
}

.search:focus{
  background-color: #030725;
  outline: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 2rem;
}

.movie {
  background-color: #192057;
  border-radius: 3px;
  box-shadow: 2px 4px 16px -5px white;
  width: 300px;
  color: white;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px;
  align-items:center;
}

.movie-info h3 {
  margin:0
}

.movie-info span {
  background-color: #030725;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: orangered;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #030725;
  transform: translateY(-102%);
  transition: transform 0.3s ease-in;
  text-align: justify;
  max-height: 100%;
  overflow: auto;
}

.overview h4 {
  margin-top:0;
}

.movie:hover .overview {
  transform: translateY(0%);
}