@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  box-sizing: border-box;
}

body{
  background-color: #030725;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #192057;
  border-radius: 3px;
  box-shadow: 2px 4px 16px -5px white;
  width: 300px;
  color: white;
  margin: 1rem;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px;
  align-items:center;
}

.movie-info h3 {
  margin:0
}

.movie-info span {
  background-color: #030725;
  border-radius: 3px;
  padding: 0.5rem;
  font-weight: bold;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: orangered;
}

.movie-info span.red {
  color: red;
}